[build]
dockerfilePath = "packages/astral-service/Dockerfile.staging"
watchPatterns = ["packages/astral-service/**", "package.json", "package-lock.json"]

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 30
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
